@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #494949;
    /* font-family: "Ultra", serif;
    font-style: normal;
    letter-spacing: 6%; */

    font-family: "Saira Stencil", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* gap: 75px; */

    width: 97vw;
    height: 100vh;
    margin: auto;

    padding: 0 9vw;

    /* border: 3px solid red; */
}

.profile-ctn {
    width: 540px;
    margin-top: 45px;
}

.profile-ctn .profile-pic {
    position: relative;
}

.profile-ctn .profile-pic .pic {
    width: 435px;
    height: 435px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("./assets/profile3.png");
    background-position: 0%;
    background-size: contain;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    -webkit-animation: img-swap 1s ease-out 5s alternate forwards, img-swap2 1s ease-in 10s alternate forwards, img-swap3 1s ease-out 15s alternate forwards;
            animation: img-swap 1s ease-out 5s alternate forwards, img-swap2 1s ease-in 10s alternate forwards, img-swap3 1s ease-out 15s alternate forwards;
    animation-composition: accumulate;
}

@-webkit-keyframes img-swap {
    100% {
        background-image: url("./assets/profile2.png");
    }
}

@keyframes img-swap {
    100% {
        background-image: url("./assets/profile2.png");
    }
}

@-webkit-keyframes img-swap2 {
    100% {
        background-image: url("./assets/profile1.png");
    }
}

@keyframes img-swap2 {
    100% {
        background-image: url("./assets/profile1.png");
    }
}

@-webkit-keyframes img-swap3 {
    100% {
        background-image: url("./assets/profile4.png");
    }
}

@keyframes img-swap3 {
    100% {
        background-image: url("./assets/profile4.png");
    }
}

.profile-ctn .profile-pic a {
    text-decoration: none;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.profile-ctn .profile-pic a:hover {
    -webkit-transform: scale(1.02) translateY(-2px);
        -ms-transform: scale(1.02) translateY(-2px);
            transform: scale(1.02) translateY(-2px);
}

.profile-ctn .profile-pic a:nth-of-type(3) {
    top: 70px;
    left: -25px;
}

.profile-ctn .profile-pic a:nth-of-type(2) {
    top: 0px;
    left: 35px;
}

.profile-ctn .profile-pic a:nth-of-type(1) {
    top: -45px;
    left: 120px;
}

.profile-ctn h1 {
    width: 550px;
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: default;
}

.profile-ctn p {
    width: 500px;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    cursor: default;
    margin-top: 10px;
    margin-left: 8px;
}

@media screen and (max-width: 1450px) {
    body {
        padding: 0 5vw;
    }

    .profile-ctn {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }

    .buttons-ctn {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }
}

@media screen and (max-width: 1270px) {
    body {
        padding: 0 0vw;
    }

    .profile-ctn {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
        width: 340px;
    }

    .buttons-ctn {
        -webkit-transform: scale(0.6) translateX(70px);
            -ms-transform: scale(0.6) translateX(70px);
                transform: scale(0.6) translateX(70px);
    }
}

@media screen and (max-width: 930px) {
     body {
        padding: 0 3vw;
    }

    .profile-ctn {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        width: 140px;
    }

    .buttons-ctn {
        -webkit-transform: scale(0.5) translateX(170px);
            -ms-transform: scale(0.5) translateX(170px);
                transform: scale(0.5) translateX(170px);
    }
}

@media screen and (max-width: 770px) {
     body {
        height: 98vh;
        padding: 0vh 0vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;
    }

    .profile-ctn {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        width: 540px;
        height: 450px;
        margin: 0;
        margin-top: -50px;
    }

    .profile-ctn .profile-pic .pic {
        margin: auto;
        margin-bottom: 15px;
    }

    .profile-ctn h1, .profile-ctn p {
        text-align: center;
        margin: 0 auto;
    }

    .buttons-ctn {
        -webkit-transform: scale(0.5) translateX(0px);
            -ms-transform: scale(0.5) translateX(0px);
                transform: scale(0.5) translateX(0px);
        margin: 0 !important;
        width: 555px !important;
    }

    .profile-ctn .profile-pic a:nth-of-type(3) {
        top: -35px;
        left: 380px;
    }

    .profile-ctn .profile-pic a:nth-of-type(2) {
        top: -65px;
        left: 250px;
    }

    .profile-ctn .profile-pic a:nth-of-type(1) {
        top: -35px;
        left: 120px;
    }
}






.buttons-ctn {
    margin-left: auto;
    /* width: 740px; */
}

.buttons-ctn .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.buttons-ctn .buttons .buttons1, .buttons-ctn .buttons .buttons2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.buttons-ctn .buttons a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 20px 60px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    -webkit-box-shadow: 0px 4px 10px #00000039;
            box-shadow: 0px 4px 10px #00000039;
    background-image: url("./assets/btn-bg-gray.png");
    background-position: 0%;
    background-size: cover;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.buttons-ctn .buttons a:hover {
    -webkit-transform: scale(1.02) translateY(-2px);
        -ms-transform: scale(1.02) translateY(-2px);
            transform: scale(1.02) translateY(-2px);
}

.buttons-ctn .buttons .buttons1 a:nth-of-type(1) {
    background-image: url("./assets/btn-bg-gray.png");
}
.buttons-ctn .buttons .buttons1 a:nth-of-type(2) {
    background-image: url("./assets/btn-bg-beige.png");
}
.buttons-ctn .buttons .buttons2 a:nth-of-type(1) {
    background-image: url("./assets/btn-bg-orange.png");
}
.buttons-ctn .buttons .buttons2 a:nth-of-type(2) {
    background-image: url("./assets/btn-bg-wine.png");
}

.buttons-ctn p {
    margin-top: 70px;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    cursor: default;
}





.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    z-index: 9999;
    -webkit-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
}

.loader img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #494949;
    -webkit-animation: loading 2s ease-in-out infinite;
            animation: loading 2s ease-in-out infinite;
}

.loader img:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.loader img:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(1) translateX(0px);
                transform: scale(1) translateX(0px);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.2)  translateX(15px);
                transform: scale(1.2)  translateX(15px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1) translateX(0px);
                transform: scale(1) translateX(0px);
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: scale(1) translateX(0px);
                transform: scale(1) translateX(0px);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.2)  translateX(15px);
                transform: scale(1.2)  translateX(15px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1) translateX(0px);
                transform: scale(1) translateX(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    .loader img {
        width: 30px;
    }
}

.loader.loaded {
    opacity: 0;
    visibility: hidden;
}